@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-4">
        <form id="hdn-login-id" class="none">
            <div class="row g-3">
                <div class="form-group">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" name="login" id="login_l" placeholder="Enter Your Login" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" name="password" id="password_l" placeholder="Enter Your Password" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="btn-login-user">Check in</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form id="hdn-register-id" class="none">
            <div class="row g-3">
                <div class="form-group">
                    <label for="firstName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter Your Name" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="lastName" class="form-label">Surname</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter Your Surname" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Enter Your Login" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" name="password" id="password" placeholder="Enter Your Password" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm" class="form-label">PasswordConfirm</label>
                    <input type="text" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Enter Your PasswordConfirm" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="btn-register-user">Check in</a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <h2 id="welcome" class="navbar-brand"></h2>
        <div class="col-md-4">
            <form id="Messeges" class="none">
                <input type="hidden" id="hdn-user-id" />
                <div class="form-group">
                    <label for="messeges" class="control-label"></label>
                    <input type="text" class="form-control" id="messeges" name="messeges" placeholder="Enter Your Messege" value="" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-messege">Add Messege</a>
                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Messege Date</td>
                    <td>Name Surname</td>
                    <td>Messege</td>
                </tr>
            </thead>
            <tbody id="messege-list">
            </tbody>
        </table>
    </div>
</div>