html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.div1 {
    padding: 20px;
    background-color: bisque;
}

.header {
    background-color: burlywood;
}


.block {
    display: block;
}

.none {
    display: none;
}

.a {
    color: black;
    margin: 5px;
    padding: 15px;
    border: 1px;
    border-color: black;
    border-style: dashed;
    border-radius: 10px 25px;
    background-color: chocolate;
    height: max-content;
}

td {
    border: 1px;
    border-color: black;
    border-style: solid;
    text-align: left;
    vertical-align: top;
}